---
layout: default
title: Home
---

<section class="our-capabilities">
    <header>
        <h1 class="section-title">Our Capabilities</h1>
    </header>
    <div class="row justify-content-around">
        {% for cap in site.capabilities %}
        <article class="capability-card">
            <header>
                <h2><i class="fas {{ cap.fas }}" aria-hidden="true" style="font-size: 60px; margin-right: 1rem"></i>{{ cap.title }}</h2>
            </header>
            {{ cap.content }}
        </article>
        {% endfor %}
    </div>
    </section>

    <section id="team" class="our-team">
        <header>
            <h1 class="section-title">Our Team</h1>
        </header>
        <div class="row justify-content-around">
            {% for member in site.members %}
            {% include member_card.html name=member.name title=member.title profile=member.profile description=member.content %}
            {% endfor %}
        </div>
    </section>

    <section id="clients" class="our-clients">
        <header>
            <h1 class="section-title">Recent Clients</h1>
        </header>
        <div class="row justify-content-center">
            {% for client in site.clients %}
            {% include client_card.html img=client.img title=client.title content=client.content %}
            {% endfor %}
        </div>
    </section>