.client-card {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 120px;
    box-sizing: border-box;
    padding: 1em;
    margin: 0 7px 15px 7px;

    img {
      max-height: 100%;
    }

  }
