article.member-card {
  display  : flex;
  flex-flow: row;
  border   : none;
  height   : 100%;
  padding  : 15px;

  aside {
    flex-direction  : columns;
    padding         : 1rem;
    background-color: $sand;

    .member-img {
      width : 120px;
      height: 120px;
    }
  }

  .content {
    background-color: #fff;
    padding         : 1rem;
    // border-left: 1px solid $dark-red;
  }

  header {
    h2 {
      font-size  : 2rem;
      line-height: 2rem;
    }

    p {
      font-style: italic;
      margin    : 0.5rem 0;
    }
  }
}