/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  color           : #fff;
  background-color: $aside-background-color;
  padding         : 1rem;

  header {
    margin: 0;
  }

  .logo {
    width : 64px;
    height: 64px;
    margin-right : 0.5rem;
    margin-bottom: 0.5rem;
    float: left;
  }

  .tagline {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1;
    display: block;
  }

  
  .title {
    line-height: 44px;
    font-size  : 44px;
    font-weight: 300;
    font-style : italic;
    padding    : 0;
  }
  
  address {
    display: none;
  }
  
  @include media-breakpoint-up(lg) {
    position  : fixed;
    padding   : 2rem 1rem;
    top       : 0;
    left      : 0;
    bottom    : 0;
    text-align: left;
    
    header {
      margin-bottom: 1rem;
    }
    
    .logo {
      display: block;
      float: none;
    }

    address {
      display  : block;
      margin   : 0 auto;
      font-size: .8rem;
      position : absolute;
      bottom   : 1rem;
    }

    .nav {
      display: block;
    }
  }


  a {
    color: #fff;
  }
}


/* Sidebar nav */
.nav {
  display      : none;
  margin-bottom: 1rem;
}

.nav-item {
  display    : block;
  line-height: 1.75;
}

a.nav-item:hover,
a.nav-item:focus {
  text-decoration: underline;
}

.nav-item.active {
  font-weight: bold;
}