---
---

<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

<body class="format-{{ page.format }}">
    <div id="page-container">

        <!-- Site header is hidden at >= lg -->
        <header id="site-header">
            {% include brand.html %}
            <!-- nav -->
        </header>

        <!-- Pull out, nav only on small screen. Fixed to the side on lg -->
        {% include sidebar.html %}

        <main>
            {{ content }}
        </main>

        <footer id="page-footer">
            {% include contact_block.html %}
            <div class="copyright">&copy; 2020 Learning Stacks LLC</div>
        </footer>

    </div>
</body>

</html>